<div class="m-4 h-screen">
    <p-confirmdialog #cd>
        <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
            <div class="flex flex-col items-center p-8 bg-surface-0 dark:bg-surface-900 rounded">
                <div
                    class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20">
                    <i class="pi pi-question !text-5xl"></i>
                </div>
                <span class="font-bold text-2xl block mb-2 mt-6">{{ message.header }}</span>
                <p class="mb-0">{{ message.message }}</p>
                <div class="flex items-center gap-2 mt-6">
                    <p-button label="Cancel" [outlined]="true" (onClick)="onReject()"
                        styleClass="w-32  p-button-cancel rounded"></p-button>
                    <p-button label="Save" (onClick)="onAccept()" styleClass="w-32"></p-button>
                </div>
            </div>
        </ng-template>
    </p-confirmdialog>


    <div class="flex justify-between items-center">
        <div class="flex flex-col">
            <span class="text-[#1F0702] text-2xl font-bold">Admin Users </span>
            <span class="text-lg">Keep track of Admin Users and their security ratings.</span>
        </div>
        <div>
            <button (click)="showForm()" class=" rounded-2xl bg-p pt-2 pb-2 pr-4  pl-4" type="submit"> New User</button>
        </div>

    </div>

    <div class="flex justify-between mt-6">
        <div class="w-2/4">
            <p-iconfield>
                <p-inputicon class="pi pi-search" />
                <input class="w-full" type="text" pInputText placeholder="Search" />
            </p-iconfield>
        </div>
        <div class="flex flex-row gap-2">
            <app-date-filter></app-date-filter>
            <app-filter></app-filter>
        </div>
    </div>


    <div class="my-6">

        @if (userData().length ) {
        <p-table [value]="userData()" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header>+
                <tr class="bg-black">
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>User Name</th>
                    <th>Added On</th>
                    <th>Status</th>
                    <th>Activites</th>
                </tr>
            </ng-template>
            <ng-template #body let-user>
                <tr>
                    <td>{{user.fullName}}</td>
                    <td>{{user.phoneNumber}}</td>
                    <td>{{user.emailAddress}}</td>
                    <td>{{user.userName}}</td>
                    <td>{{user.createdOn | date}}</td>
                    <td>{{user.activeStatus}}</td>
                    <td>
                        <span class="flex flex-row gap-2">
                            <a class="font-bold text-p-color" (click)="openDetails(user)"
                                href="javascript:void(0)">Edit</a>
                            <a class="font-bold text-p-color" (click)="deleteDetails(user)"
                                href="javascript:void(0)">Delete</a>
                        </span>


                    </td>
                </tr>
            </ng-template>
        </p-table>
        }
        @else {
        <div class="flex  mt-8 border shadow rounded-lg bg-[#f3e7e4] justify-center items-center">
            <div class="m-4 text-lg font-semibold ">
                No Order Available
            </div>
        </div>
        }
    </div>
</div>

<p-dialog #content [(visible)]="showUserForm" [closable]="false" [style]="{width: '450px' }" [modal]="true"
    class="p-fluid">
    <ng-template #header>
        <div class="flex flex-col w-full gap-4">
            <div class="flex justify-between w-full">
                <div class="flex flex-col">
                    <div class="font-semibold text-xl">Add User</div>
                    <span class="text-sm">Fill the form below to add a new user to the platform</span>
                </div>
                <app-cancel class="cursor-pointer " (click)="closeForm()"></app-cancel>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="content" class="bg-p">
        <div [formGroup]="userForm!">

            <div class="flex flex-col gap-4">
                <div class="flex flex-col">
                    <label for="fullName" class="font-medium text-surface-900 dark:text-surface-0  block">
                        Full Name
                    </label>
                    <input  id="fullName" pSize="small" formControlName="fullName" type="text" pInputText fluid />
                    @if (userForm!.controls['fullName']!.invalid && userForm!.controls['fullName']!.touched)
                    {
                    <small class="p-error ml-2 text-red-600">Full Name is required.</small>
                    }
                </div>
                <div class="flex flex-col">
                    <label for="phoneNumber" class="font-medium text-surface-900 dark:text-surface-0  block">
                        Phone Number
                    </label>
                    <input   id="phoneNumber" phone-format inputmode="numeric" pSize="small" formControlName="phoneNumber"
                        type="tel" pInputText fluid />
                    @if (userForm!.controls['phoneNumber']!.invalid && userForm!.controls['phoneNumber']!.touched)
                    {
                    <small class="p-error ml-2 text-red-600">Phone Number is required.</small>
                    }
                </div>
                <div class="flex flex-col">
                    <label for="email" class="font-medium text-surface-900 dark:text-surface-0  block">
                        Email Address
                    </label>
                    <input    id="email" pSize="small" formControlName="email" type="email" pInputText fluid />
                    @if (userForm!.controls['email']!.invalid && (userForm!.controls['email']!.dirty
                    ||
                    userForm!.controls['email']!.touched)) {
                    <small class="p-error text-red-600">
                        @if (userForm!.controls['email']!.errors!['required']) {
                        Email Address is required.
                        } @else if (userForm!.controls['email']!.errors!['email']) {
                        Please enter a valid email address.
                        }
                    </small>
                    }
                </div>
                <div class="flex flex-col">
                    <label for="userName" class="font-medium text-surface-900 dark:text-surface-0  block">
                        Roles
                    </label>
                    <p-multiselect formControlName="role" rounded="true" [filter]="false" placeholder="Select Roles"
                        [options]="rolesData()" optionLabel="roleName" display="chip"
                        styleClass="w-full md:w-80 rounded-full" />
                    @if (userForm!.controls['userName']!.invalid && userForm!.controls['userName']!.touched)
                    {
                    <small class="p-error ml-2 text-red-600">User Name is required.</small>
                    }
                </div>
                <div class="flex flex-col">
                    <label for="userName" class="font-medium text-surface-900 dark:text-surface-0  block">
                        User Name
                    </label>
                    <input   id="userName" pSize="small" formControlName="userName" type="text" pInputText fluid />
                    @if (userForm!.controls['userName']!.invalid && userForm!.controls['userName']!.touched)
                    {
                    <small class="p-error ml-2 text-red-600">User Name is required.</small>
                    }
                </div>
                <!-- <div class="flex flex-col">
                    <label for="password" class="font-medium text-surface-900 dark:text-surface-0  block">
                        Password
                    </label>
                    <input id="password" pSize="small" formControlName="password" type="password" pInputText fluid />
                    @if (userForm!.controls['password']!.invalid && userForm!.controls['password']!.touched)
                    {
                    <small class="p-error ml-2 text-red-600">User Name is required.</small>
                    }
                </div> -->
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">

        <div class="flex w-full gap-4">
            <button class="p-button-secondary w-1/2 p-button-cancel" rounded="true" (click)="closeForm()" pButton
                type="button">Cancel</button>
            @if (newUser()) {
            <button [disabled]="userForm!.invalid" rounded="true" class="w-1/2 bg-p p-3 rounded-2xl" pButton
                (click)="submitUserForm()" type="button">Add
                User</button>
            }
            @else {
            <button [disabled]="userForm!.invalid" rounded="true" class="w-1/2 bg-p p-3 rounded-2xl" pButton
                (click)="updateUser()" type="button">Update
                User</button>
            }

        </div>
    </ng-template>
</p-dialog>
