<div class="h-screen bg-[#1f0702]">

    <div class=" flex flex-col wrapper gap-4  ">
        <div class="  p-8 rounded-lg  setting-menu-bg">
            <div class=" register-header items-center text-center justify-center ">
                <div class="m-0  text-gray-900  text-4xl font-bold ">Login to your account</div>
                <div class="text-lg text-gray-500 mt-3">Welcome back! Please enter your details.</div>
            </div>
            <div class="content-form mt-6" [formGroup]="signinForm">

                <div class="flex flex-col mb-3 ">
                    <div for="username" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                        Usename
                    </div>
                    <input class="bg-[#FCFBFB]" id="username" pSize="small" formControlName="userName" type="text"
                        pInputText fluid />
                </div>
                <div class="flex flex-col mb-3  gap-bottom ">
                    <label for="password" class="font-medium text-surface-900 dark:text-surface-0 mb-2 block">
                        password
                    </label>
                    <input id="password" pSize="small" formControlName="password" type="password" pInputText fluid />
                </div>

                <button  rounded="true " class="wid-full mb-4 gap-top" pButton (click)="onSubmit()"
                    type="button">Login</button>


            </div>
        </div>
    </div>


</div>
