.layout-sidebar {
    position: fixed;
    height: calc(100% - 4rem);
    top: 4rem;
    left: 0;
    width: 17rem;
    background: #4d1205;
    box-shadow:
        0px 3px 5px rgba(0, 0, 0, 0.02),
        0px 0px 2px rgba(0, 0, 0, 0.05),
        0px 1px 4px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;

    .layout-sidebar-top {
        display: none;
    }

    .layout-menu-container {
        flex: 1;
        padding-bottom: 2rem;
        overflow: auto;
    }

    .layout-menu {
        margin: 8px;
        padding: 4px;
        list-style-type: none;
        background-color: #4d1205;
        .layout-root-menuitem {
            > .layout-menuitem-root-text {
                display: flex;
                align-items: center;
                font-size: 0.857rem;
                text-transform: uppercase;
                font-weight: 700;
                color: #fcf8f8;
                padding: 1rem 1.5rem 1rem 1rem;

                > .layout-menuitem-root-icon {
                    display: none;
                }
            }

            > a {
                display: none;
            }
        }

        a {
            user-select: none;
        }

        li.active-menuitem {
            > a {
                color: #fcf8f8;
                background-color: #4d1205;

                .layout-menuitem-icon {
                    color: #fcf8f8;
                }

                .layout-submenu-toggler {
                    transform: rotate(-180deg);
                }
            }
            > ul {
                max-height: 1000px;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            a {
                display: flex;
                align-items: center;
                position: relative;
                outline: 0 none;
                color: #fcf8f8;
                cursor: pointer;
                padding: 0.75rem 1.5rem;
                transition:
                    background-color var(--transition-duration),
                    box-shadow var(--transition-duration);

                .layout-menuitem-icon {
                    margin-right: 0.5rem;
                    color: #fcf8f8;
                }

                .layout-submenu-toggler {
                    font-size: 75%;
                    margin-left: auto;
                    transition: transform var(--transition-duration);
                }

                &.active-route {
                    font-weight: 700;
                    color: #4d1205;
                    background-color: #ebd3ce;
                }

                &:hover {
                    background-color: #ebd3ce;
                    color: #4d1205;
                }
            }

            ul {
                overflow: hidden;
                border-radius: var(--border-radius);
                max-height: 0;

                li {
                    a {
                        padding-left: 2.5rem;
                    }

                    li {
                        a {
                            padding-left: 3rem;
                        }

                        li {
                            a {
                                padding-left: 3.5rem;
                            }

                            li {
                                a {
                                    padding-left: 4rem;
                                }

                                li {
                                    a {
                                        padding-left: 5.5rem;
                                    }

                                    li {
                                        a {
                                            padding-left: 5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
